
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Tillage</title>
	<meta name="author" content="Tillage.">

	
	<meta name="description" content="耕耘网络, CSS, HTML5, JAVASCRIPT, PYTHON, MYSQL,LINUX">
	<meta name="keywords" content="耕耘网络, CSS, HTML5, JAVASCRIPT, PYTHON, MYSQL,LINUX">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
    <meta name="google-site-verification" content="Tillage's memory">
    <!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->

    <meta name="Copyright" content="Copyright Tillage &copy; 2013. All Rights Reserved.">

    <!-- Dublin Core Metadata : http://dublincore.org/ -->
    <meta name="DC.title" content="Tillage">
    <meta name="DC.subject" content="Tillage's memory">
    <meta name="DC.creator" content="Tillage."> 
	<link href="/atom.xml" rel="alternate" title="Tillage" type="application/atom+xml">
	<link rel="canonical" href="">
	<link href="/favicon.ico" rel="shortcut icon">
	<link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" >
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="//dynamic.duapp.com/libs/ajax/jquery/jquery-1.8.3.min.js"></script>
	
</head>

<body>
	<header id="header" class="outer"><div class="inner">
	<h1><a href="/">Tillage</a></h1>
	<nav id="sub-nav" class="alignright">
		<div class="social">
			
			
			<a class="google" href="https://plus.google.com/leadwand@gmail.com?rel=author" title="Google+">Google+</a>
			
			
			
			<a class="github" href="https://github.com/tillage" title="GitHub">GitHub</a>
			
	    
			
			
			
			
			
			<a class="rss" href="/atom.xml" title="RSS">RSS</a>
			
		</div>
		<form class="search" action="http://google.com/search" method="get">
			<input class="alignright" type="text" name="q" results="0">
			<input type="hidden" name="q" value="site:tillage.github.com">
		</form>
	</nav>
</div>
<nav id="main-nav">
<ul class="main inner">
	
		
		
			
		
		<li>
			<a  class="current" id="index" href="/">主页</a>
		</li>
	
		
		
		<li>
			<a    href="/archives/">Archives</a>
		</li>
	
</ul></nav>
<nav id="mobile-nav" class="inner">
	<div class="alignleft menu">
		<a class="button">Menu</a>
		<div class="container">
<ul class="main inner">
	
		
		
			
		
		<li>
			<a  class="current" id="index" href="/">主页</a>
		</li>
	
		
		
		<li>
			<a    href="/archives/">Archives</a>
		</li>
	
</ul></div>
	</div>
	<div class="alignright search">
		<a class="button"></a>
		<div class="container">
			<form action="http://google.com/search" method="get">
				<input type="text" name="q" results="0">
				<input type="hidden" name="q" value="site:tillage.github.com">
			</form>
		</div>
	</div>
</nav>

</header>
	
		
	
	<div id="main" class="inner">
		<div id="content"><div class="fluid">
			


    <article class="post">
  <header>
    
      <h2 class="entry-title"><a href="/octopress/octopress-navigation/">Octopress Navigation</a></h2>
    
    
		<p class="meta">
			<span class="date">








  


<time datetime="2013-01-20T22:43:00+08:00" pubdate data-updated="true">Jan 20<span>th</span>, 2013</time></span>
			<span class="tags">


	<a class='category' href='/lists/octopress/'>octopress</a>


</span>
			
				<span class="comments"><a href="/octopress/octopress-navigation//index.html#disqus_thread">Comments</a></span>
			
		</p>
    
  </header>


  <div class="entry-content"><p>两种方式实现Octopress导航栏当前样式</p>

<ol>
<li>JS</li>
<li>liquid</li>
</ol>


<h3>JS方式</h3>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$</span><span class="p">(</span><span class="nb">document</span><span class="p">).</span><span class="nx">ready</span><span class="p">(</span><span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
</span><span class='line'>    <span class="kd">var</span> <span class="nx">pathname</span> <span class="o">=</span> <span class="nb">window</span><span class="p">.</span><span class="nx">location</span><span class="p">.</span><span class="nx">pathname</span><span class="p">;</span>
</span><span class='line'>
</span><span class='line'>    <span class="nx">$</span><span class="p">(</span><span class="s2">&quot;#main-nav a&quot;</span><span class="p">).</span><span class="nx">each</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">index</span><span class="p">)</span> <span class="p">{</span>
</span><span class='line'>        <span class="k">if</span> <span class="p">(</span><span class="nx">pathname</span><span class="p">.</span><span class="nx">toUpperCase</span><span class="p">().</span><span class="nx">indexOf</span><span class="p">(</span><span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">).</span><span class="nx">text</span><span class="p">().</span><span class="nx">toUpperCase</span><span class="p">())</span> <span class="o">!=</span> <span class="o">-</span><span class="mi">1</span><span class="p">)</span>
</span><span class='line'>            <span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">).</span><span class="nx">addClass</span><span class="p">(</span><span class="s2">&quot;current&quot;</span><span class="p">);</span>
</span><span class='line'>    <span class="p">});</span>
</span><span class='line'>
</span><span class='line'>    <span class="k">if</span> <span class="p">(</span><span class="nx">$</span><span class="p">(</span><span class="s2">&quot;a.current&quot;</span><span class="p">).</span><span class="nx">length</span> <span class="o">==</span> <span class="mi">0</span><span class="p">)</span>
</span><span class='line'>        <span class="nx">$</span><span class="p">(</span><span class="s2">&quot;a#index&quot;</span><span class="p">).</span><span class="nx">addClass</span><span class="p">(</span><span class="s2">&quot;current&quot;</span><span class="p">);</span>
</span><span class='line'><span class="p">});</span>
</span></code></pre></td></tr></table></div></figure>


<p>在主题目录source/javascripts/加入上面代码，注意上面的#main-nav如有需要自行修改。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;ul</span> <span class="na">id=</span><span class="s">&quot;main-nav&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>      <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">id=</span><span class="s">&quot;index&quot;</span> <span class="na">href=</span><span class="s">&quot;/&quot;</span><span class="nt">&gt;</span>Blog<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
</span><span class='line'>      <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;/blog/archives&quot;</span><span class="nt">&gt;</span>Archives<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
</span><span class='line'><span class="nt">&lt;/ul&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>修改source/_includes/custom/navigation.html，即加入id=&#8221;main-nav&#8221;和id=&#8221;index&#8221;</p>

<h3>Liquid</h3>

<p>（推荐使用）</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
</pre></td><td class='code'><pre><code class='yaml'><span class='line'><span class="c1"># navigation text and url</span>
</span><span class='line'><span class="l-Scalar-Plain">navigation</span><span class="p-Indicator">:</span>
</span><span class='line'><span class="p-Indicator">-</span> <span class="l-Scalar-Plain">text</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">主页</span>
</span><span class='line'>  <span class="l-Scalar-Plain">url</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">/</span>
</span><span class='line'><span class="p-Indicator">-</span> <span class="l-Scalar-Plain">text</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Archives</span>
</span><span class='line'>  <span class="l-Scalar-Plain">url</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">/archives/</span>
</span></code></pre></td></tr></table></div></figure>


<p>在_config.yml中加入navigation设置。</p>

<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'>{% capture p_url%}{{ page.url | remove: &#39;index.html&#39; }}{% endcapture %}
</span><span class='line'><span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">&quot;main inner&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  {% for link in site.navigation %}
</span><span class='line'>      {% assign current = nil %}
</span><span class='line'>      {% if p_url == link.url %}
</span><span class='line'>          {% assign current = &#39;current&#39; %}
</span><span class='line'>      {% endif %}
</span><span class='line'>      <span class="nt">&lt;li&gt;</span>
</span><span class='line'>          <span class="nt">&lt;a</span>  <span class="err">{%</span><span class="na">if</span> <span class="na">current</span> <span class="err">!=</span> <span class="na">nil</span> <span class="err">%}</span><span class="na">class=</span><span class="s">&quot;{{current}}&quot;</span><span class="err">{%</span><span class="na">endif</span><span class="err">%}</span> <span class="err">{%</span> <span class="na">if</span> <span class="na">link</span><span class="err">.</span><span class="na">url =</span><span class="s">=</span> <span class="err">&quot;/&quot;</span> <span class="err">%}</span><span class="na">id=</span><span class="s">&quot;index&quot;</span><span class="err">{%</span> <span class="na">endif</span> <span class="err">%}</span> <span class="na">href=</span><span class="s">&quot;{{ link.url }}&quot;</span><span class="nt">&gt;</span>{{ link.text }}<span class="nt">&lt;/a&gt;</span>
</span><span class='line'>      <span class="nt">&lt;/li&gt;</span>
</span><span class='line'>  {% endfor %}
</span><span class='line'><span class="nt">&lt;/ul&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>修改source/_includes/custom/navigation.html,完全改变了。</p>

<h3>CSS</h3>

<p>完成上面步骤后，记得增加相应的CSS样式哦。比如：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
</pre></td><td class='code'><pre><code class='sass'><span class='line'><span class="k">&amp;</span><span class="nc">.current</span><span class="err">{</span>
</span><span class='line'>  <span class="na">background</span><span class="o">:</span> <span class="no">none</span> <span class="no">repeat</span> <span class="no">scroll</span> <span class="mi">0</span><span class="kt">%</span> <span class="mi">0</span><span class="kt">%</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">30</span><span class="o">,</span><span class="mi">179</span><span class="o">,</span><span class="mi">233</span><span class="o">,</span><span class="mi">1</span><span class="p">)</span><span class="err">;</span>
</span><span class='line'><span class="err">}</span>
</span></code></pre></td></tr></table></div></figure>

</div>
  
  
</article>


    <article class="post">
  <header>
    
      <h2 class="entry-title"><a href="/Jekyll/jekyll-utils/">Jekyll一些函数和技巧</a></h2>
    
    
		<p class="meta">
			<span class="date">








  


<time datetime="2013-01-19T12:07:00+08:00" pubdate data-updated="true">Jan 19<span>th</span>, 2013</time></span>
			<span class="tags">


	<a class='category' href='/lists/jekyll/'>Jekyll</a>


</span>
			
				<span class="comments"><a href="/Jekyll/jekyll-utils//index.html#disqus_thread">Comments</a></span>
			
		</p>
    
  </header>


  <div class="entry-content"><p>循环输出 3 篇文章</p>

<pre><code>for post in site.posts limit:3
endfor
</code></pre>

<p>循环输出最近 3 篇</p>

<pre><code>for post in site.posts offset:3 limit:3
endfor
</code></pre>

<p>日期</p>

<pre><code>page.date | date:"%B %b, %Y"
</code></pre>

<p>分页输出</p>

<pre><code>for post in paginator.posts
    content
endfor
</code></pre>

<p>分页</p>

<pre><code>if paginator.previous_page
    //判断输出前一个分页
    //"page" + paginator.previous_page
endif
if paginator.next_page
    //判断输出后一个分页
    //"page" + paginator.next_page
endif
for page in (1..paginator.total_pages)
    if page == paginator.page
        //如果是当前分页
        //page
    else
        //不是的话输出其他分页链接号码
        //"page" + page
    endif
endfor
</code></pre>

<p>文章页面显示前一篇文章和后一篇文章</p>

<pre><code>if page.previous
    //url:    page.previous.url
    //title:  page.previous.title | truncatewords:5
endif
if page.next
    //url:    page.next.url
    //title:  page.next.url | truncatewords:5
</code></pre>
</div>
  
  
</article>


    <article class="post">
  <header>
    
      <h2 class="entry-title"><a href="/tillage/second/">Second</a></h2>
    
    
		<p class="meta">
			<span class="date">








  


<time datetime="2013-01-17T00:01:00+08:00" pubdate data-updated="true">Jan 17<span>th</span>, 2013</time></span>
			<span class="tags">


	<a class='category' href='/lists/tillage/'>tillage</a>


</span>
			
				<span class="comments"><a href="/tillage/second//index.html#disqus_thread">Comments</a></span>
			
		</p>
    
  </header>


  <div class="entry-content"><p>1.14-1.17
三天时间，夜以继日，不死不休下，终于搞定Octopress(包括age主题)。</p>

<p><code>Octopress</code>
<code>ruby</code></p>

<pre><code>html
css3
js
yaml
markdown
sass
</code></pre>

<figure class='code'> <div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='python'><span class='line'><span class="kn">import</span> <span class="nn">sys</span>
</span><span class='line'><span class="kn">import</span> <span class="nn">math</span>
</span></code></pre></td></tr></table></div></figure>




<figure class='code'><figcaption><span>Discover if a number is prime</span><a href='http://www.noulakaz.net/weblog/2007/03/18/a-regular-expression-to-check-for-prime-numbers/'>Source Article</a></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'><span class="k">class</span> <span class="nc">Fixnum</span>
</span><span class='line'>  <span class="k">def</span> <span class="nf">prime?</span>
</span><span class='line'>    <span class="p">(</span><span class="s1">&#39;1&#39;</span> <span class="o">*</span> <span class="nb">self</span><span class="p">)</span> <span class="o">!~</span> <span class="sr">/^1?$|^(11+?)\1+$/</span>
</span><span class='line'>  <span class="k">end</span>
</span><span class='line'><span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<pre><code>``` [language] [title] [url] [link text]
code snippet
```         
</code></pre>
</div>
  
  
</article>


    <article class="post">
  <header>
    
      <h2 class="entry-title"><a href="/Jekyll/jekyll-template-data/">Jekyll 主题变量</a></h2>
    
    
		<p class="meta">
			<span class="date">








  


<time datetime="2013-01-16T20:16:00+08:00" pubdate data-updated="true">Jan 16<span>th</span>, 2013</time></span>
			<span class="tags">


	<a class='category' href='/lists/jekyll/'>Jekyll</a>


</span>
			
				<span class="comments"><a href="/Jekyll/jekyll-template-data//index.html#disqus_thread">Comments</a></span>
			
		</p>
    
  </header>


  <div class="entry-content"><h2>Global</h2>

<table>
<thead>
<tr>
<th>Variable </th>
<th> Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>site     </td>
<td> Sitewide information + Configuration settings from _config.yml</td>
</tr>
<tr>
<td>page     </td>
<td> This is just the YAML Front Matter with 2 additions: url and content.</td>
</tr>
<tr>
<td>content  </td>
<td> In layout files, this contains the content of the subview(s). This is the variable used to insert the rendered content into the layout. This is not used in post files or page files.</td>
</tr>
<tr>
<td>paginator </td>
<td> When the paginate configuration option is set, this variable becomes available for use.</td>
</tr>
</tbody>
</table>


<h2>Site</h2>

<table>
<thead>
<tr>
<th>Variable    </th>
<th> Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>site.time </td>
<td> The current Time (when you run the jekyll command).</td>
</tr>
<tr>
<td>site.posts </td>
<td> A reverse chronological list of all Posts.</td>
</tr>
<tr>
<td>site.related_posts </td>
<td> If the page being processed is a Post, this contains a list of up to ten related Posts. By default, these are low quality but fast to compute. For high quality but slow to compute results, run the jekyll command with the &#8211;lsi (latent semantic indexing) option.</td>
</tr>
<tr>
<td>site.categories.CATEGORY </td>
<td> The list of all Posts in category CATEGORY.</td>
</tr>
<tr>
<td>site.tags.TAG </td>
<td> The list of all Posts with tag TAG.</td>
</tr>
<tr>
<td>site.[CONFIGURATION_DATA] </td>
<td> As of 0.5.2, all data inside of your <em>config.yml is now available through the site variable. So for example, if you have url: http://mysite.com in your configuration file, then in your posts and pages it can be used like so: http://tillage.github.com. Jekyll does not parse a changed </em>config.yml in auto mode, you have to restart jekyll.</td>
</tr>
<tr>
<td>site.pages </td>
<td> The list of all (non-post) pages which contain YAML front matter.</td>
</tr>
</tbody>
</table>


<h2>Page</h2>

<table>
<thead>
<tr>
<th>Variable    </th>
<th> Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>page.content    </td>
<td> The un-rendered content of the Page.</td>
</tr>
<tr>
<td>page.title  </td>
<td> The title of the Post.</td>
</tr>
<tr>
<td>page.url    </td>
<td> The URL of the Post without the domain. e.g. /2008/12/14/my-post.html</td>
</tr>
<tr>
<td>page.date   </td>
<td> The Date assigned to the Post. This can be overridden in a post’s front matter by specifying a new date/time in the format YYYY-MM-DD HH:MM:SS</td>
</tr>
<tr>
<td>page.id </td>
<td> An identifier unique to the Post (useful in RSS feeds). e.g. /2008/12/14/my-post</td>
</tr>
<tr>
<td>page.categories </td>
<td> The list of categories to which this post belongs. Categories are derived from the directory structure above the <em>posts directory. For example, a post at /work/code/</em>posts/2008-12-24-closures.textile would have this field set to [&#8216;work&#8217;, &#8216;code&#8217;]. These can also be specified in the YAML Front Matter</td>
</tr>
<tr>
<td>page.tags   </td>
<td> The list of tags to which this post belongs. These can be specified in the YAML Front Matter</td>
</tr>
<tr>
<td>page.next   </td>
<td> The chronologically newer post</td>
</tr>
<tr>
<td>page.previous   </td>
<td> The chronologically older post</td>
</tr>
</tbody>
</table>


<p>Note: Any custom front matter that you specify will be available under page. For example, if you specify custom_css: true in a page’s front matter, that value will be available in templates as page.custom_css</p>

<h2>Paginator</h2>

<p><strong>note: only available in index files, can be in subdirectory /blog/index.html</strong></p>

<table>
<thead>
<tr>
<th>Variable    </th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>paginator.per_page  </td>
<td> Number of posts per page.</td>
</tr>
<tr>
<td>paginator.posts </td>
<td> Posts available for that page.</td>
</tr>
<tr>
<td>paginator.total_posts   </td>
<td> Total number of posts.</td>
</tr>
<tr>
<td>paginator.total_pages   </td>
<td> Total number of pages.</td>
</tr>
<tr>
<td>paginator.page  </td>
<td> The number of the current page.</td>
</tr>
<tr>
<td>paginator.previous_page </td>
<td> The number of the previous page.</td>
</tr>
<tr>
<td>paginator.next_page </td>
<td> The number of the next page.</td>
</tr>
</tbody>
</table>

</div>
  
  
</article>

<nav id="pagenavi">
    
    
    <div class="center"><a href="/archives">Blog Archives</a></div>
</nav>
		</div></div>
		<aside class="sidebar">
			
				<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/octopress/octopress-navigation/">Octopress navigation</a>
      </li>
    
      <li class="post">
        <a href="/Jekyll/jekyll-utils/">jekyll一些函数和技巧</a>
      </li>
    
      <li class="post">
        <a href="/tillage/second/">second</a>
      </li>
    
      <li class="post">
        <a href="/Jekyll/jekyll-template-data/">Jekyll 主题变量</a>
      </li>
    
  </ul>
</section>

<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  
  <a href="https://github.com/tillage">@tillage</a> on GitHub
  
  <script type="text/javascript">
    $.domReady(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'tillage',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>




<section class="googleplus">
  <h1>
    <a href="https://plus.google.com/leadwand@gmail.com?rel=author">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
      Google+
    </a>
  </h1>
</section>



			
  		</aside>
	</div>
	<footer id="footer"><div class="inner">Copyright &copy; 2013

    Tillage.

</div></footer>
	<script src="/javascripts/age.js"></script>
<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
	$('.fancybox').fancybox();
})(jQuery);
</script> <!-- Delete or comment this line to disable Fancybox -->


<script type="text/javascript">
      var disqus_shortname = 'tillage';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>





</body>
</html>